{% extends 'client/base.html' %}
{% load i18n %}
{% load static %}
{% block page_title %}{% translate "Сарбанов Советбек Талгарбекович" %}{% endblock page_title %}



{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{% translate "Руководство" %}</h2>
          <ol>
            <li><a href="{% url 'index'%}">Главная</a></li>
            <li>{% translate "Сарбанов Советбек Талгарбекович" %}</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">
        <div class="col-lg-8" style="margin:auto; width: 40%; height: 20%;">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{% static 'client/img/portfolio/jarasul.jpg' %}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{% static 'client/img/portfolio/jarasul-1.jpg' %}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{% static 'client/img/portfolio/jarasul-2.jpg' %}" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

        <div class="row gy-4">

          <div class="col-lg-4" style="margin:auto; margin-top: 5%; width: 90%;">
            <div class="portfolio-info">
              <h3>{% translate "Сарбанов Советбек Талгарбекович" %}</h3>
              <ul>
                <li><strong>{% translate "Должность" %}</strong>: {% translate "Вице-президент ОАО «Кыргызиндустрия»" %}</li>
                <li><strong>{% translate "Дата рождения" %}</strong>: 17 сентября 1948 года.</li>
                <li><strong>{% translate "Гражданство" %}</strong>: Кыргызское</li>
                <li><strong>{% translate "Образования" %}</strong>: 1966-1972 – студент Московского высшего технического училища им. Н.Э. Баумана по специальности «Полупроводниковое и электровакуумное машиностроение» (квалификация «инженер-механик»)</li>
                <li><strong>{% translate "Квалификация" %}</strong>: Инженер-механик</li>
              </ul>
            </div>

            <div class="portfolio-info">
                <h2>Биография:</h2>
              <p>
                Уроженец села Теплоключенка Ак-Суйского района Иссык-Кульской  области.<br><br>
В 1972 году окончил Московское высшее техническое училище имени Н.Э. Баумана по специальности «Полупроводниковое и электровакуумное машиностроение».
<br><br>
С 1972 по 1974 гг. – инженер-конструктор СКТБ Фрунзенского опытного завода электровакуумного машиностроения.
<br><br>
С 1974 по 1975 гг. – стажер-исследователь Фрунзенского политехнического института.
<br><br>
С 1975 по 1979 гг. – аспирант МВТУ имени Н.Э. Баумана.
<br><br>
С 1979 по 1992 гг. – преподаватель кафедры «Технология машиностроения», заведующий кафедрой «Технология металлов и материаловедение», первый проректор и заведующий кафедрой «Технология машиностроения» Фрунзенского политехнического института.
<br><br>
С 1992 по 1994 гг. – заместитель министра промышленности Кыргызской Республики.
<br><br>
С 1994 по 1999 гг. – начальник Главных Управлений отраслей промышленности и промышленной политики Министерства внешней торговли и промышленности Кыргызской Республики.
<br><br>
С 1999 по 2001 гг. – первый заместитель министра и руководитель аппарата Министерства внешней торговли и промышленности Кыргызской Республики.
<br><br>
С 2001 по 2003 гг. – главный консультант Исследовательско-консалтингового центра «Community».
<br><br>
С 2003 по 2007 гг. – ректор Института кибернетики и информационных технологий, старший научный сотрудник Института автоматики Национальной академии наук Кыргызской Республики.
<br><br>
С 2007 по 2010 гг. – директор Департамента науки, инноваций и научно-технической информации Министерства образования и науки Кыргызской Республики.
<br><br>
С 2010 по 2013 гг. – проректор по научной работе и внешним связям Бишкекской финансово-экономической академии.
<br><br>
С 2013 по 2022 гг. – советник и помощник ректора Кыргызского государственного технического университета имени И. Раззакова.
<br><br>
       В феврале 2022 года назначен вице-президентом ОАО «Кыргызиндустрия» по научно-исследовательским и опытно-конструкторским работам и инновационным проектам.
       <br><br>
Кандидат технических наук, доцент, «Отличник образования».
              </p>
              </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->



  {% endblock content %}